#welcome-message{
    position: absolute;
    top: 50%;
    left: 50%;
}

.homepage-layout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.homepage-layout > div{
    z-index: 1;
}

.left-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 20%;
    max-height: 80%;
}